<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title%}{% endblock %}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/sedoku-logo.ico')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="<link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Jua&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">" rel="stylesheet">       
    </head>
    <body>
        <header class="header">
            <div class="logo">
                <a href="/">
                    <img src="{{url_for('static', filename='images/Icons/buruger-logo-orangecolor.png')}}">
                    <h1 class="logo">Sedoku.</h1>
                </a>
            </div>

            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            <ul class="menu">
                <li>
                        <a class="header-nav-a" href="{{url_for('dishfinder')}}">Build My Schedule</a>
                </li>
                <li>
                        <a class="header-nav-a" href="{{url_for('exploreourdatabase')}}">Our Database</a>
                </li>
                <li>
                        <a class="header-nav-a" href="{{url_for('about')}}">About</a>
                </li>
            </ul>
        </header>

        {% block content%}{% endblock %}

        <footer>
            <img id="footer-burgers" src="{{url_for('static', filename='images/Icons/footer-burgers.gif')}}" style="display: none;">
        </footer>
    </body>
</html>